*
!protocol
!validator
!miner
protocol/*
validator/*
miner/*
!protocol/pyproject.toml
!protocol/src
!validator/pyproject.toml
!validator/uv.lock
!validator/src
!validator/Dockerfile
!miner/pyproject.toml
!miner/uv.lock
!miner/src
!miner/Dockerfile
**/__pycache__
**/*.pyc
**/.env*
**/*.pem
**/*.key
